/* fonts */
/* font-family: 'Bungee Shade', cursive;
font-family: 'Gruppo', sans-serif;
font-family: 'Monofett', monospace;
font-family: 'Nova Oval', cursive; */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
	min-height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2, h3 {
    color: #34495e;
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
}

.header {
    padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
}

h1 {
    margin-top: 5px;
    font-family: 'Bungee Shade', cursive;
    display: block;
    font-size: 8vmin;
    text-shadow: 4px 4px #ffed31;
    text-align: center;
    color: rgb(23, 12, 228);
}

.nav-bar {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    background-color: rgba(128, 128, 128, 0.258) ;
    padding: 5px;
    list-style: none;
	margin: 4px 0px 10px 0px;
}

.logo a, .nav-bar a {
	padding: 8px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.nav-bar a {
	color: #34495e;
	font-size: .99em;
}

.nav-bar a:hover{
    color: blue;
}

img {
    max-width: 15vmin;
    min-width: 10vmin;
    /* align-content: space-around; */
    object-fit: cover;
}

.products {
    align-items: center;
    display: grid;
    flex-direction: wrap;
    width: 200;
    height: 400px;
    border: .5px solid black;
    padding: 10px;
    margin: 5px;
    word-wrap: break-word;
    overflow: scroll;
    box-shadow: 5px 10px #FFED31;
}

.container {
    display: grid;
    flex-direction: wrap;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 12px;
    object-position: center;
}

.speakers {
    align-items: center;
    display: grid;
    flex-direction: wrap;
    width: 200;
    height: 400px;
    border: .5px solid black;
    padding: 10px;
    margin: 10px;
    word-wrap: break-word;
    overflow: scroll;
    box-shadow: 5px 10px #FFED31;
}

.headphones {
    align-items: center;
    display: grid;
    flex-direction: wrap;
    width: 200;
    height: 400px;
    border: .5px solid black;
    padding: 10px;
    margin: 10px;
    word-wrap: break-word;
    overflow: scroll;
    box-shadow: 5px 10px #FFED31;
}


.containerHeader {
    display: grid;
    padding: 2px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
}

.shopNowBtn {
    display: grid;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
    font: 45px bolder,
}

#featuredProducts {
    display: grid;
    justify-content: space-evenly;

}

#headphoneProducts {
    display: grid;
    justify-content: space-evenly;
}

#speakerProducts {
    display: grid;
    justify-content: space-evenly;
}

#headphoneContainer { 
    display: grid;
    justify-content: space-evenly;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    display: flex;
    justify-content: center;
    /* position: absolute; */
    bottom: 0;
}

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		    width: 80%;
		    margin: 0 auto;
		    max-width: 1150px;
	    }
	}
}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
    }
}
